APP_ENV=dev
APP_SECRET=change_me_to_a_random_32_char_string

DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
# DATABASE_URL="postgresql://shield:shield@127.0.0.1:5432/d4ta_shield?serverVersion=16&charset=utf8"

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=change_me_jwt_passphrase

CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'

SHIELD_ENGINE_URL=http://127.0.0.1:8080
SHIELD_INTERNAL_TOKEN=dev-internal-token-change-me

CONTRACT_STORAGE_DIR=%kernel.project_dir%/var/storage
